html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Manrope, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

image {
  padding-left: 0px;
  padding-right: 0px;
}

input[type="text"] {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: start;
  padding-left: 11.5px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.154px;
  color: #414047;
  outline: unset;
}

input::placeholder {
  color: #BEBEC2;
}

::-webkit-scrollbar-thumb {
  display: none;
}