.wrapper {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #DFDFE0;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  position: fixed;
  z-index: 100;
  top: 0px;
}

.wrapper * {
  align-items: center;
  justify-content: center;
  text-align: center;
}